<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Importance of Play Facebook Group</string>
		<key>url</key>
		<string>https://www.facebook.com/groups/importanceofplay/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Want to get your kids into college? Let them play</string>
		<key>url</key>
		<string>http://edition.cnn.com/2010/OPINION/12/29/christakis.play.children.learning/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The decline of play</string>
		<key>url</key>
		<string>https://youtu.be/Bg-GEzM7iTk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Benefits of Dramatic Play in Early Childhood Education</string>
		<key>url</key>
		<string>http://stayathomeeducator.com/the-benefits-of-dramatic-play-in-early-childhood-education/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Takaharu Tezuka: The best kindergarten you’ve ever seen</string>
		<key>url</key>
		<string>https://youtu.be/J5jwEyDaR-0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5 Important Ways Kids Learn Through Play</string>
		<key>url</key>
		<string>http://bedrocklife.com/5-important-ways-kids-learn-through-play/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Educating Children For The Journey</string>
		<key>url</key>
		<string>https://youtu.be/imaW-TabxOE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Steve Keil: A manifesto for play, for Bulgaria and beyond</string>
		<key>url</key>
		<string>http://www.ted.com/talks/steve_keil_a_manifesto_for_play_for_bulgaria_and_beyond</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Creative Play Makes for Kids in Control</string>
		<key>url</key>
		<string>http://www.npr.org/templates/story/story.php?storyId=76838288</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Old-Fashioned Play Builds Serious Skills</string>
		<key>url</key>
		<string>http://www.npr.org/templates/story/story.php?storyId=19212514</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stuart Brown: Play is more than fun</string>
		<key>url</key>
		<string>https://youtu.be/HHwXlcHcTHc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Timothy Bartik: The economic case for preschool</string>
		<key>url</key>
		<string>http://www.ted.com/talks/timothy_bartik_the_economic_case_for_preschool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Doris Fromberg: What Kindergarten should be</string>
		<key>url</key>
		<string>https://youtu.be/YhpM_jbVopo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Valerie Strauss: The decline of play in preschoolers and the rise in sensory issues</string>
		<key>url</key>
		<string>http://www.washingtonpost.com/blogs/answer-sheet/wp/2015/09/01/the-decline-of-play-in-preschoolers-and-the-rise-in-sensory-issues/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>When Educators Make Space For Play and Passion, Students Develop Purpose</string>
		<key>url</key>
		<string>http://ww2.kqed.org/mindshift/2015/08/25/when-educators-make-space-for-play-and-passion-students-develop-purpose/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>If children seem "addicted" to their gadgets, could it be we didn’t give them enough choice?</string>
		<key>url</key>
		<string>http://1000hoursoutside.com/2014/08/14/if-children-seem-addicted-to-their-gadgets-could-it-be-we-didnt-give-them-enough-choice/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Value of Unstructured Play Time for Kids</string>
		<key>url</key>
		<string>http://www.psmag.com/books-and-culture/value-unstructured-play-time-kids-81177</string>
	</dict>
	<dict>
		<key>name</key>
		<string>What is Play?</string>
		<key>url</key>
		<string>http://www.regardingbaby.org/2011/11/02/what-is-play/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scientists Say Child's Play Helps Build A Better Brain</string>
		<key>url</key>
		<string>http://www.npr.org/sections/ed/2014/08/06/336361277/scientists-say-childs-play-helps-build-a-better-brain</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Report debunks 'earlier is better' academic instruction for young children</string>
		<key>url</key>
		<string>https://www.washingtonpost.com/blogs/answer-sheet/wp/2015/04/12/report-debunks-earlier-is-better-academic-instruction-for-young-children/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kindergarten test results a 'sobering snapshot'</string>
		<key>url</key>
		<string>https://www.washingtonpost.com/blogs/answer-sheet/wp/2014/02/06/a-really-scary-headline-about-kindergarteners/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Why Preschool Shouldn't Be Like School</string>
		<key>url</key>
		<string>http://www.slate.com/articles/double_x/doublex/2011/03/why_preschool_shouldnt_be_like_school.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Playing to Learn</string>
		<key>url</key>
		<string>https://whatedsaid.wordpress.com/2015/04/06/playing-to-learn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Role Of Play In Learning</string>
		<key>url</key>
		<string>http://www.teachthought.com/learning/the-role-of-play-in-learnin/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Let the Kids Learn Through Play</string>
		<key>url</key>
		<string>http://mobile.nytimes.com/2015/05/17/opinion/sunday/let-the-kids-learn-through-play.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Let 'Em Out! The Many Benefits of Outdoor Play In Kindergarten</string>
		<key>url</key>
		<string>http://ww2.kqed.org/mindshift/2014/07/23/let-em-out-the-many-benefits-of-outdoor-play-in-kindergarten/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Q and A: Blocks, Play, Screen Time And The Infant Mind</string>
		<key>url</key>
		<string>http://www.npr.org/sections/ed/2015/02/12/385264747/q-a-blocks-play-screen-time-and-the-infant-mind</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Why play based learning in Kindergarten is so Important</string>
		<key>url</key>
		<string>http://www.momtastic.com/parenting/493775-play-based-learning-kindergarten-important/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Why Swedish early learning is so much better than Australia's</string>
		<key>url</key>
		<string>https://theconversation.com/why-swedish-early-learning-is-so-much-better-than-australias-35033</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hard Evidence: at what age are children ready for school?</string>
		<key>url</key>
		<string>https://theconversation.com/hard-evidence-at-what-age-are-children-ready-for-school-29005</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Requiring kindergarteners to read — as Common Core does — may harm some</string>
		<key>url</key>
		<string>https://www.washingtonpost.com/blogs/answer-sheet/wp/2015/01/13/report-requiring-kindergartners-to-read-as-common-core-does-may-harm-some/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5 ways to let a little more risk into your child’s day (and why that’s a good thing)</string>
		<key>url</key>
		<string>http://www.washingtonpost.com/news/parenting/wp/2015/01/16/5-ways-to-let-a-little-more-risk-into-your-childs-day-and-what-thats-a-good-thing/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Give childhood back to children: if we want our offspring to have happy, productive and moral lives, we must allow more time for play, not less</string>
		<key>url</key>
		<string>http://www.independent.co.uk/voices/comment/give-childhood-back-to-children-if-we-want-our-offspring-to-have-happy-productive-and-moral-lives-we-must-allow-more-time-for-play-not-less-are-you-listening-gove-9054433.html</string>
	</dict>
</array>
</plist>